# Application & Base Domain
APP_URL=https://cloudpost.techvisionstudio.in
VITE_API_BASE_URL=https://cloudpost.techvisionstudio.in

# MySQL Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=u320472937_postman
DB_USER=u320472937_postman
DB_PASSWORD=Micr0@112233
